<div class="min-h-screen flex flex-col bg-gray-100">
    
   <div class="min-h-screen flex flex-col">
   <nav class="bg-sky-600 text-white shadow-lg sticky top-0 z-50">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex-shrink-0 font-bold text-2xl tracking-widder cursor-pointer" routerLink="/home">
                    Bau<span class="text-yellow-500">Flights</span>
                </div>

                <div class="flex items-center space-x-6">
                    
                    <ng-container *ngIf="this.http.isAuthenticated() && this.http.is_passenger()">
                        <a routerLink="/login" class="hover:text-yellow-500 transition-colors"> Profilo</a>
                        <a routerLink="/bookingPrenotation" class="over:text-yellow-500 transition-colors"> Prenotazioni</a>
                    </ng-container>

                    <ng-container *ngIf="!this.http.isAuthenticated()">
                        <a routerLink="/login" class="over:text-yellow-500 transition-colors"> Accedi</a>
                    </ng-container>
                
                </div> </div>
        </div>
    </nav>



    <div class="flex flex-col grow bg-sky-400 items-center justify-center p-8 space-y-10 ">
          
        <h2 class="text-2xl font-bold text-gray-800 mb-6">
           Completa la prenotazione!
        </h2>

        <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" *ngIf="firstFlight && bookingForm" class="w-full max-w-7xl mx-auto">
            <div class="bg-white shadow-lg border border-solid border-yellow-500 border-l-4 rounded-md p-4 mb-6 " formGroupName="firstFlight">
                <div class="flex items-center p-4 gap-4">
                    <span class="bg-sky-300 rounded-md w-fit text-md text-sky-600 font-bold px-2 py-0.5 uppercase">Tratta1</span>   
                    <div class="text-sky-600 text-xl font-bold py-1 rounded">
                            <span>{{ firstFlight.route.departureAirport.city }}</span> ➝ <span>{{ firstFlight.route.arrivalAirport.city }}</span>
                    </div>
                </div>

                <div class="bg-sky-300 shadow-2xl rounded-md p-4 mb-6"> 
                    <div class="grid grid-cols-3 p-4 gap-4">
                        <div>
                            <label class="block text-xs font-bold text-sky-700 uppercase mb-1">compagnia aerea</label>
                            <div class="text-lg font-bold text-black leading-none">{{ firstFlight.company.company || 'Airline' }}</div>
                        </div>
                        <div>
                            <label class="block text-xs font-bold text-sky-700  uppercase mb-1">numero di volo</label>
                            <div class="text-lg font-bold text-black leading-none">{{ firstFlight.flightNumber }}</div>
                        </div>
                        <div>
                            <label class="block text-xs font-bold text-sky-700  uppercase mb-1">Orario</label>
                            <div class="text-lg font-bold text-black leading-none">{{ firstFlight.departureTime | date:'HH:mm' }} - {{ firstFlight.arrivalTime | date:'HH:mm' }} </div>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-3 p-4 gap-4">   
                    <button type="button" 
                        (click)="selectClass('economy', 'first')" 
                        [class.bg-yellow-400]="selectedClass === 'economy'"
                        [class.ring-sky-500]="selectedClass === 'economy'"
                        class="p-4 rounded-lg border border-gray-200 hover:border-sky-300 transition-all text-left flex justify-between items-center group block text-xs font-bold text-sky-600  uppercase mb-1" >
                        Economy - {{ firstFlight.prices.economy | currency:'EUR' }}
                    </button>
                    <button type="button" 
                        (click)="selectClass('business', 'first')" 
                        [class.bg-yellow-400]="selectedClass === 'business'" 
                         [class.ring-sky-500]="selectedClass === 'business'"
                        class="p-4 rounded-lg border border-gray-200 hover:border-sky-300 transition-all text-left flex justify-between items-center group block text-xs font-bold text-sky-600  uppercase mb-1" >
                        Business - {{ firstFlight.prices.business | currency:'EUR' }}
                    </button>
                    <button type="button"
                        (click)="selectClass('firstclass', 'first')" 
                        [class.bg-yellow-400]="selectedClass === 'firstclass'"
                         [class.ring-sky-500]="selectedClass === 'firstclass'"
                        class="p-4 rounded-lg border border-gray-200 hover:border-sky-300 transition-all text-left flex justify-between items-center group block text-xs font-bold text-sky-600  uppercase mb-1" >
                        First Class - {{ firstFlight.prices.firstclass | currency:'EUR' }}
                    </button>
                </div>
                
                <div class="flex justify-center  text-color-sky-600 text-xl font-bold py-1 rounded">
                            Seleziona le opzioni extra
                </div>

                <div formGroupName="extras">
                    <div class="grid grid-cols-3 p-4 gap-4">   
                        <div class="p-4 rounded-lg border border-gray-200 hover:border-sky-300 transition-all text-left flex items-center group block gap-4 text-xs font-bold text-sky-600  uppercase mb-1">
                            <input type="checkbox" formControlName="legroom" class="w-4 h-4" (change)="calculatePrice('first')">
                            <label class="block text-xs font-bold text-sky-600  uppercase mb-1 ">
                                Posto extra gambe- {{ firstFlight.prices.extras.legroom | currency:'EUR'}}
                            </label>
                        </div>
                        <div class="p-4 rounded-lg border border-gray-200 hover:border-sky-300 transition-all text-left flex items-center group block gap-4 text-xs font-bold text-sky-600  uppercase mb-1">
                            <input type="checkbox" formControlName="baggage" class="w-4 h-4" (change)="calculatePrice('first')">
                            <label class="block text-xs font-bold text-sky-600  uppercase mb-1">
                                Bagaglio extra - {{ firstFlight.prices.extras.baggage | currency:'EUR'}}
                            </label>
                        </div>
                        <div class="p-4 rounded-lg border border-gray-200 hover:border-sky-300 transition-all text-left flex items-center group block gap-4 text-xs font-bold text-sky-600  uppercase mb-1">
                            <input type="checkbox" class="w-4 h-4" formControlName="priorityBoarding" (change)="calculatePrice('first')">
                            <label class="block text-xs font-bold text-sky-600  uppercase mb-1">
                                Imbarco prioritario - {{ firstFlight.prices.extras.priorityBoarding | currency:'EUR'}}
                            </label>
                        </div>
                    </div>
                 </div>

                <div class="bg-sky-300 p-6 rounded-lg">
    
                    <ng-container *ngIf="firstFlight && this.bookingService.generateSeats(firstFlight, selectedClass) as allSeats">
                        
                        <div class="grid gap-3 justify-center items-center" 
                        [style.grid-template-columns]="'repeat(' + bookingService.getColumns(firstFlight, selectedClass) + ', min-content)'">
                            <div *ngFor="let seat of allSeats let i = index">
                                <button type="button" 
                                        (click)="selectSeat(seat,selectedClass,'first')"
                                        [disabled]="!isSeatAvailable(seat, selectedClass, 'first')"
                                        [style.margin-right]="bookingService.seatsGap(i, firstFlight, selectedClass) ? '40px' : '0'"
                                        [ngClass]="{
                                            'bg-yellow-400 text-white border-yellow-500 transform scale-110 shadow-lg': isSeatSelected(seat, 'first'),
                                            'bg-red-200 text-red-400 cursor-not-allowed': !isSeatAvailable(seat, selectedClass, 'first'),
                                            'bg-white text-sky-600 hover:border-sky-400 hover:bg-sky-50': isSeatAvailable(seat, selectedClass, 'first')&& !isSeatSelected(seat, 'first')
                                        }"
                                        class="w-10 h-10 rounded-lg border-2 border-gray-200 transition-all duration-200 flex justify-center items-center font-bold text-sm">
                                        {{ seat }}
                                </button>
                            </div>
                        </div>

                        <div *ngIf="allSeats.length === 0" class="text-white text-center">
                            Nessuna configurazione sedili trovata.
                        </div>
                    </ng-container>
                </div>
            </div>
        </form>

        <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" *ngIf="secondFlight && bookingForm" class="w-full max-w-7xl mx-auto">
            <div class="bg-white shadow-lg border border-solid border-yellow-500 border-l-4  rounded-md p-4 mb-6 " formGroupName="secondFlight">
                <div class="flex items-center p-4 gap-4">
                    <span class="bg-sky-300 rounded-md w-fit text-md text-sky-600 font-bold px-2 py-0.5 uppercase">Tratta2</span>   
                    <div class="text-sky-600 text-xl font-bold py-1 rounded">
                            <span>{{ secondFlight.route.departureAirport.city }}</span> ➝ <span>{{ secondFlight.route.arrivalAirport.city }}</span>
                    </div>
                </div>

                <div class="bg-sky-300 shadow-2xl rounded-md p-4 mb-6"> 
                    <div class="grid grid-cols-3 p-4 gap-4">
                        <div>
                            <label class="block text-xs font-bold text-sky-700 uppercase mb-1">compagnia aerea</label>
                            <div class="text-lg font-bold text-black leading-none">{{ secondFlight.company.company || 'Airline' }}</div>
                        </div>
                        <div>
                            <label class="block text-xs font-bold text-sky-700  uppercase mb-1">numero di volo</label>
                            <div class="text-lg font-bold text-black leading-none">{{ secondFlight.flightNumber }}</div>
                        </div>
                        <div>
                            <label class="block text-xs font-bold text-sky-700  uppercase mb-1">Orario</label>
                            <div class="text-lg font-bold text-black leading-none">{{ secondFlight.departureTime | date:'HH:mm' }} - {{ secondFlight.arrivalTime | date:'HH:mm' }} </div>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-3 p-4 gap-4">   
                    <button type="button" 
                        (click)="selectClass('economy', 'second')" 
                        [class.bg-yellow-400]="selectedClass === 'economy'"
                        [class.ring-sky-500]="selectedClass === 'economy'"
                        class="p-4 rounded-lg border border-gray-200 hover:border-sky-300 transition-all text-left flex justify-between items-center group block text-xs font-bold text-sky-600  uppercase mb-1" >
                        Economy - {{ secondFlight.prices.economy | currency:'EUR' }}
                    </button>
                    <button type="button" 
                        (click)="selectClass('business', 'second')" 
                        [class.bg-yellow-400]="selectedClass === 'business'" 
                         [class.ring-sky-500]="selectedClass === 'business'"
                        class="p-4 rounded-lg border border-gray-200 hover:border-sky-300 transition-all text-left flex justify-between items-center group block text-xs font-bold text-sky-600  uppercase mb-1" >
                        Business - {{ secondFlight.prices.business | currency:'EUR' }}
                    </button>
                    <button type="button"
                        (click)="selectClass('firstclass', 'second')" 
                        [class.bg-yellow-400]="selectedClass === 'firstclass'"
                         [class.ring-sky-500]="selectedClass === 'firstclass'"
                        class="p-4 rounded-lg border border-gray-200 hover:border-sky-300 transition-all text-left flex justify-between items-center group block text-xs font-bold text-sky-600  uppercase mb-1" >
                        First Class - {{ secondFlight.prices.firstclass | currency:'EUR' }}
                    </button>
                </div>
                
                <div class="flex justify-center  text-color-sky-600 text-xl font-bold py-1 rounded">
                            Seleziona le opzioni extra
                </div>

                <div formGroupName="extras">
                    <div class="grid grid-cols-3 p-4 gap-4">   
                        <div class="p-4 rounded-lg border border-gray-200 hover:border-sky-300 transition-all text-left flex items-center group block gap-4 text-xs font-bold text-sky-600  uppercase mb-1">
                            <input type="checkbox" formControlName="legroom" class="w-4 h-4" (change)="calculatePrice('second')">
                            <label class="block text-xs font-bold text-sky-600  uppercase mb-1 ">
                                Posto extra gambe- {{ secondFlight.prices.extras.legroom | currency:'EUR'}}
                            </label>
                        </div>
                        <div class="p-4 rounded-lg border border-gray-200 hover:border-sky-300 transition-all text-left flex items-center group block gap-4 text-xs font-bold text-sky-600  uppercase mb-1">
                            <input type="checkbox" formControlName="baggage" class="w-4 h-4" (change)="calculatePrice('second')">
                            <label class="block text-xs font-bold text-sky-600  uppercase mb-1">
                                Bagaglio extra - {{ secondFlight.prices.extras.baggage | currency:'EUR'}}
                            </label>
                        </div>
                        <div class="p-4 rounded-lg border border-gray-200 hover:border-sky-300 transition-all text-left flex items-center group block gap-4 text-xs font-bold text-sky-600  uppercase mb-1">
                            <input type="checkbox" class="w-4 h-4" formControlName="priorityBoarding" (change)="calculatePrice('second')">
                            <label class="block text-xs font-bold text-sky-600  uppercase mb-1">
                                Imbarco prioritario - {{ secondFlight.prices.extras.priorityBoarding | currency:'EUR'}}
                            </label>
                        </div>
                    </div>
                 </div>

                <div class="bg-sky-300 p-6 rounded-lg">
    
                    <ng-container *ngIf="secondFlight && this.bookingService.generateSeats(secondFlight, selectedClass) as allSeats">
                        
                        <div class="grid gap-3 justify-center items-center" 
                        [style.grid-template-columns]="'repeat(' + bookingService.getColumns(secondFlight, selectedClass) + ', min-content)'">
                            <div *ngFor="let seat of allSeats let i = index">
                                <button type="button" 
                                        (click)="selectSeat(seat, selectedClass, 'second')"
                                        [disabled]="!isSeatAvailable(seat, selectedClass, 'second')"
                                        [style.margin-right]="bookingService.seatsGap(i, secondFlight, selectedClass) ? '40px' : '0'"
                                        [ngClass]="{
                                            'bg-yellow-400 text-white border-yellow-500 transform scale-110 shadow-lg': isSeatSelected(seat, 'second'),
                                            'bg-red-200 text-red-400 cursor-not-allowed': !isSeatAvailable(seat, selectedClass, 'second'),
                                            'bg-white text-sky-600 hover:border-sky-400 hover:bg-sky-50': isSeatAvailable(seat, selectedClass, 'second') && !isSeatSelected(seat, 'second')
                                        }"
                                        class="w-10 h-10 rounded-lg border-2 border-gray-200 transition-all duration-200 flex justify-center items-center font-bold text-sm">
                                        {{ seat }}
                                </button>
                            </div>
                        </div>

                        <div *ngIf="allSeats.length === 0" class="text-white text-center">
                            Nessuna configurazione sedili trovata.
                        </div>
                        
                    </ng-container>
                </div>
            </div>
        </form>

        <div class="bg-white shadow-xl border-l-4 border-yellow-500 rounded-lg p-6 mb-6 w-full max-w-7xl mx-auto">
            <div class="flex flex-col md:flex-row items-center justify-between gap-6">

                <div class="flex flex-col space-y-1 w-full md:w-auto text-center md:text-left border-b md:border-b-0 border-gray-100 pb-4 md:pb-0">
                    <ng-container *ngIf="firstFlight">
                        <div class="text-sm font-medium text-gray-500">
                            Prezzo andata: <span class="font-bold text-sky-600">{{ bookingForm.get('firstFlight.price')?.value | currency:'EUR' }}</span>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="secondFlight">
                        <div class="text-sm font-medium text-gray-500">
                            Prezzo ritorno: <span class="font-bold text-sky-600">{{ bookingForm.get('secondFlight.price')?.value | currency:'EUR' }}</span>
                        </div>
                    </ng-container>
                </div>

                <div class="flex flex-col md:flex-row items-center gap-6 md:gap-8">
                    
                    <div class="flex flex-col items-center md:items-end">
                        <span class="text-xs font-bold text-gray-400 uppercase tracking-wider">Totale da pagare</span>
                        <span class="text-xl md:text-xl font-black text-sky-600 leading-none">
                            {{ getTotalPrice() | currency:'EUR' }}
                        </span>
                    </div>

                    <button type="button" 
                            (click)="onSubmit()"
                            [disabled]="bookingForm.invalid" 
                            class="bg-sky-500 text-white text-md font-bold py-4 px-10 rounded-xl shadow-lg hover:shadow-sky-200 hover:bg-sky-600 hover:-translate-y-1 transition-all duration-200 disabled:opacity-100 disabled:cursor-not-allowed disabled:transform-none disabled:shadow-none w-full md:w-auto">
                        Conferma Prenotazione
                    </button>
                    
                </div>

            </div>
        </div>
    </div>
</div>