<div class="min-h-screen flex flex-col bg-gray-100">
    
<div class="min-h-screen flex flex-col">
   <nav class="bg-sky-600 text-white shadow-lg sticky top-0 z-50">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <div class="flex-shrink-0 font-bold text-2xl tracking-wider cursor-pointer" routerLink="/home">
                    Bau<span class="text-yellow-500">Flights</span>
                </div>

                <div class="flex items-center space-x-6">
                    <ng-container *ngIf="!this.http.isAuthenticated()">
                        <a routerLink="/login" class="hover:text-yellow-500 transition-colors"> login</a>
                    </ng-container>
                    
                    <ng-container *ngIf="this.http.isAuthenticated() && this.http.is_passenger()">
                        <a routerLink="/login" class="hover:text-yellow-500 transition-colors"> Profilo</a>
                        <a routerLink="/bookingPrenotation" class="hover:text-yellow-500 transition-colors"> Prenotazioni</a>
                    </ng-container>

                    <ng-container *ngIf="this.http.isAuthenticated()">
                        <a (click)="this.http.logout()" class="hover:text-yellow-500 transition-colors"> logout</a>
                    </ng-container>
                </div>
            </div>
        </div>
    </nav>


    <!--pagina-->
     
    <div class="flex flex-col grow bg-sky-400 items-center justify-center p-8 space-y-10">

        <h2 class="text-2xl font-bold text-gray-800 mb-6">
            Le tue Prenotazioni: {{ ( (MyTitles$ | async)?.length || 0 ) }} trovate
        </h2>

        <ng-container *ngIf="(MyTitles$ | async) as bookings">
            
            <div *ngFor="let booking of bookings" class="mb-6 w-full max-w-5xl">
                
                <ng-container *ngIf="booking.tickets.length === 1">
                    <div class="bg-white shadow-2xl border border-solid border-yellow-500 border-l-4 rounded-md p-4 mb-6"> 
                                <div class="grid grid-cols-4 justify-start items-center mb-3 bg-sky-400 p-2 rounded-md  border-yellow-500 border-l-4shadow-sm">
                                    <span class=" w-fit text-xs text-white font-bold px-2 py-0.5 rounded uppercase" 
                                    [ngClass]="{
                                            'bg-green-600': booking.status === 'confirmed',
                                            'bg-': booking.status === 'used',
                                            'bg-red-600':  booking.status === 'cancelled'
                                        }">
                                        {{ booking.status }} 
                                    </span>
                                    <div class="flex flex-col justify-center">
                                        <span class="text-[10px] text-gray-500 font-bold uppercase tracking-wider mb-0.5">
                                            Compagnia
                                        </span>
                                        <span class="text-sm font-extrabold text-slate-800 truncate">
                                            {{ booking.tickets[0].flight.company?.company || 'Airline' }}
                                        </span>
                                    </div>

                                    <div class="flex flex-col justify-center">
                                        <span class="text-[10px] text-gray-500 font-bold uppercase tracking-wider mb-0.5">
                                            Volo
                                        </span>
                                        <span class="text-sm font-extrabold text-slate-800 font-mono">
                                            {{ booking.tickets[0].flight.flightNumber }}
                                        </span>
                                    </div>
                                    
                                    <div class="flex flex-col justify-center text-right pr-2">
                                        <span class="text-[10px] text-gray-500 font-bold uppercase tracking-wider mb-0.5">
                                            Classe
                                        </span>
                                        <span class="text-sm font-extrabold text-sky-700">
                                            {{ booking.tickets[0].class | titlecase }}
                                        </span>
                                    </div>
                                </div>

                                <div class="grid grid-cols-4 items-center gap-4">
                                    <div>
                                        <label class="block text-xs font-bold text-gray-400 uppercase mb-1">Partenza</label>
                                        <div class="text-lg font-bold text-black leading-none">{{ booking.tickets[0].flight.route?.departureAirport?.city }}</div>
                                        <div class="text-sm text-gray-500">{{ booking.tickets[0].flight.departureTime | date:'dd/MM HH:mm' }}</div>
                                        <div class="text-xs text-sky-600 font-mono">{{ booking.tickets[0].flight.route?.departureAirport?.code }}</div>
                                    </div>

                                    <div class="text-center text-gray-300 text-xl">➝</div>

                                    <div>
                                        <label class="block text-xs font-bold text-gray-400 uppercase mb-1">Arrivo</label>
                                        <div class="text-lg font-bold text-black leading-none">{{ booking.tickets[0].flight.route?.arrivalAirport?.city }}</div>
                                        <div class="text-sm text-gray-500">{{ booking.tickets[0].flight.arrivalTime | date:'dd/MM HH:mm' }}</div>
                                        <div class="text-xs text-sky-600 font-mono">{{ booking.tickets[0].flight.route?.arrivalAirport?.code }}</div>
                                    </div>

                                    <div class="text-right flex flex-col items-end">
                                        <label class="block text-xs font-bold text-sky-600 uppercase">Totale Pagato</label>
                                        <div class="text-2xl font-bold text-sky-600 mb-2">
                                            {{ booking.totalPrice | currency:'EUR' }}
                                        </div>
                                        
                                        <button (click)="goToDetail(booking)" class="bg-sky-600 hover:bg-sky-700 text-white font-bold py-2 px-6 rounded shadow transition-colors">
                                            Dettagli
                                        </button>
                                    </div>
                                </div>
                    </div>
                </ng-container>


                <!--doppio-->
                <ng-container *ngIf="booking.tickets.length > 1">
                    <div class="bg-white shadow-2xl border border-solid border-yellow-500 border-l-4 rounded-md p-4 mb-6"> 
                        <div class="mb-6 pb-6 border-b border-dashed border-gray-300">
                            <div class="grid grid-cols-4 justify-start items-center mb-3 bg-sky-400 p-2 rounded-md  border-yellow-500 border-l-4shadow-sm">
                                <span class=" w-fit text-xs text-white font-bold px-2 py-0.5 rounded uppercase" 
                                [ngClass]="{
                                        'bg-green-600': booking.status === 'confirmed',
                                        'bg-': booking.status === 'used',
                                        'bg-red-600':  booking.status === 'cancelled'
                                    }">
                                    {{ booking.status }} 
                                </span>
                                <div class="flex flex-col justify-center">
                                    <span class="text-[10px] text-gray-500 font-bold uppercase tracking-wider mb-0.5">
                                        Compagnia
                                    </span>
                                    <span class="text-sm font-extrabold text-slate-800 truncate">
                                        {{ booking.tickets[0].flight.company?.company || 'Airline' }}
                                    </span>
                                </div>

                                <div class="flex flex-col justify-center">
                                    <span class="text-[10px] text-gray-500 font-bold uppercase tracking-wider mb-0.5">
                                        Volo
                                    </span>
                                    <span class="text-sm font-extrabold text-slate-800 font-mono">
                                        {{ booking.tickets[0].flight.flightNumber }}
                                    </span>
                                </div>
                                
                                <div class="flex flex-col justify-center text-right pr-2">
                                    <span class="text-[10px] text-gray-500 font-bold uppercase tracking-wider mb-0.5">
                                        Classe
                                    </span>
                                    <span class="text-sm font-extrabold text-sky-700">
                                        {{ booking.tickets[0].class | titlecase }}
                                    </span>
                                </div>
                            </div>

                            <div class="grid grid-cols-4 items-center gap-4">
                                <div>
                                    <label class="block text-xs font-bold text-gray-400 uppercase mb-1">Partenza</label>
                                    <div class="text-lg font-bold text-black leading-none">{{ booking.tickets[0].flight.route?.departureAirport?.city }}</div>
                                    <div class="text-sm text-gray-500">{{ booking.tickets[0].flight.departureTime | date:'dd/MM HH:mm' }}</div>
                                    <div class="text-xs text-sky-600 font-mono">{{ booking.tickets[0].flight.route?.departureAirport?.code }}</div>
                                </div>

                                <div class="text-center text-gray-300 text-xl">➝</div>

                                <div>
                                    <label class="block text-xs font-bold text-gray-400 uppercase mb-1">Arrivo</label>
                                    <div class="text-lg font-bold text-black leading-none">{{ booking.tickets[0].flight.route?.arrivalAirport?.city }}</div>
                                    <div class="text-sm text-gray-500">{{ booking.tickets[0].flight.arrivalTime | date:'dd/MM HH:mm' }}</div>
                                    <div class="text-xs text-sky-600 font-mono">{{ booking.tickets[0].flight.route?.arrivalAirport?.code }}</div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="mb-6 pb-6 border-b border-dashed border-gray-300">
                                <div class="grid grid-cols-4 justify-start items-center mb-3 bg-sky-400 p-2 rounded-md  border-yellow-500 border-l-4shadow-sm">
                                    <span class=" w-fit text-xs text-white font-bold px-2 py-0.5 rounded uppercase" 
                                    [ngClass]="{
                                            'bg-green-600': booking.status === 'confirmed',
                                            'bg-': booking.status === 'used',
                                            'bg-red-600':  booking.status === 'cancelled'
                                        }">
                                        {{ booking.status }} 
                                    </span>
                                    <div class="flex flex-col justify-center">
                                        <span class="text-[10px] text-gray-500 font-bold uppercase tracking-wider mb-0.5">
                                            Compagnia
                                        </span>
                                        <span class="text-sm font-extrabold text-slate-800 truncate">
                                            {{ booking.tickets[1].flight.company?.company || 'Airline' }}
                                        </span>
                                    </div>

                                    <div class="flex flex-col justify-center">
                                        <span class="text-[10px] text-gray-500 font-bold uppercase tracking-wider mb-0.5">
                                            Volo
                                        </span>
                                        <span class="text-sm font-extrabold text-slate-800 font-mono">
                                            {{ booking.tickets[1].flight.flightNumber }}
                                        </span>
                                    </div>
                                    
                                    <div class="flex flex-col justify-center text-right pr-2">
                                        <span class="text-[10px] text-gray-500 font-bold uppercase tracking-wider mb-0.5">
                                            Classe
                                        </span>
                                        <span class="text-sm font-extrabold text-sky-700">
                                            {{ booking.tickets[1].class | titlecase }}
                                        </span>
                                    </div>
                                </div>

                                <div class="grid grid-cols-4 items-center gap-4">
                                    <div>
                                        <label class="block text-xs font-bold text-gray-400 uppercase mb-1">Partenza</label>
                                        <div class="text-lg font-bold text-black leading-none">{{ booking.tickets[1].flight.route?.departureAirport?.city }}</div>
                                        <div class="text-sm text-gray-500">{{ booking.tickets[1].flight.departureTime | date:'dd/MM HH:mm' }}</div>
                                        <div class="text-xs text-sky-600 font-mono">{{ booking.tickets[1].flight.route?.departureAirport?.code }}</div>
                                    </div>

                                    <div class="text-center text-gray-300 text-xl">➝</div>

                                    <div>
                                        <label class="block text-xs font-bold text-gray-400 uppercase mb-1">Arrivo</label>
                                        <div class="text-lg font-bold text-black leading-none">{{ booking.tickets[1].flight.route?.arrivalAirport?.city }}</div>
                                        <div class="text-sm text-gray-500">{{ booking.tickets[1].flight.arrivalTime | date:'dd/MM HH:mm' }}</div>
                                        <div class="text-xs text-sky-600 font-mono">{{ booking.tickets[1].flight.route?.arrivalAirport?.code }}</div>
                                    </div>

                                    <div class="text-right flex flex-col items-end">
                                        <label class="block text-xs font-bold text-sky-600 uppercase">Totale Pagato</label>
                                        <div class="text-2xl font-bold text-sky-600 mb-2">
                                            {{ booking.totalPrice | currency:'EUR' }}
                                        </div>
                                        
                                        <button (click)="goToDetail(booking)" class="bg-sky-600 hover:bg-sky-700 text-white font-bold py-2 px-6 rounded shadow transition-colors">
                                            Dettagli
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>

            <div *ngIf="bookings.length === 0" class="text-center py-10">
                <p class="text-gray-500 text-xl">Nessuna prenotazione trovata.</p>
            </div>

        </ng-container>

    </div>
</div>